<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>eartifacts | {{ term.name }}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ get_url(path="css/content.css") }}" type="text/css" />
    <link rel="icon" type="image/png" href="{{ get_url(path="img/favicon.png") }}" />
  </head>

  <body>
    {% include "top_part.html" %}

    <main>
      <div id="main-inner">
        <div id="content-wrapper">
          <div id="content" class="section-content">
            <h1>{{ term.name }}</h1>
          </div>
        </div>

        <ul id="pages-list">
          {% for page in term.pages %}
            <li>
              <h2 class="page-path">
                <a href="/{{ page.path }}">{{ page.title }}</a>
              </h2>
              <div class="summary">{{ page.summary | safe }}</div>
              <p class="cont-reading">
                <a href="/{{ page.path }}">continue reading&hellip;</a>
              </p>
              <hr />
            </li>
          {% endfor %}
        </ul>
      </div>
    </main>
  </body>
</html>
