* {
    font-family: sans-serif;
}

code,
pre {
    font-family: monospace;
}

code {
    font-size: 0.85rem;
}

pre {
    font-size: 1rem;
}

html,
body,
header,
nav,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
    margin: 0;
    padding: 0;
    border: 0;
}

html,
body {
    width: 100%;
    height: 100%;

    background-color: #111;
    color: #eee;
}

a {
    color: #eee;
    text-decoration: underline #eee8 dotted;
}
a:hover {
    color: #e8e;
    text-decoration: none;
}

.naked-anchor {
    text-decoration: none;
}

hr {
    margin: 1rem 0 1rem 0;
    border: 0.05rem solid #eee5;
}

address {
    display: inline;
    font-style: normal;
}
