{% if cover_ext %}
  <figure class="cover-art">
    <img src="cover_art.{{ cover_ext }}" alt="Cover art for &ldquo;
      {%- if album -%}
        {{- album -}}
      {%- else -%}
        {{- title -}}
      {%- endif -%}
      &rdquo;" />

    <figcaption>
      Cover art for <i>
        {%- if album -%}
          {{- album -}}
        {%- else -%}
          {{- title -}}
        {%- endif -%}
      </i>
    </figcaption>
  </figure>
{% endif %}

<div class="centering">
  <table class="tune-info">
    <tbody>
      <tr>
        <th scope="row">artist</th>
        <td {% if instrumentation %}colspan="2"{% endif %}>
          {% set artist = page.taxonomies.artists.0 %}
          <b><a href="/artists/{{ artist | slugify }}">{{ artist }}</a></b>
        </td>
      </tr>
      <tr>
        <th scope="row">title</th>
        <td {% if instrumentation %}colspan="2"{% endif %}>{{ title }}</td>
      </tr>

      {% if album %}
        <tr>
          <th scope="row">album</th>
          <td {% if instrumentation %}colspan="2"{% endif %}><i>
            {{- album -}}
          </i></td>
        </tr>
      {% endif %}

      {% if page.taxonomies.years %}
        {% set year = page.taxonomies.years.0 %}
        <tr>
          <th scope="row">year</th>
          <td {% if instrumentation %}colspan="2"{% endif %}>
            <a href="/years/{{ year }}"><time datetime="{{ year }}">
              {{- year -}}
            </time></a>
          </td>
        </tr>
      {% endif %}

      {% if duration %}
        {% set duration_split = duration | split(pat=":") %}
        {% set duration_split_len = duration_split | length %}
        {% if duration_split_len == 2 %}
          {% set dt = "PT" ~ duration_split.0 ~ "M" ~ duration_split.1 ~ "S" %}
        {% elif duration_split_len == 3 %}
          {% set dt = "PT" ~ duration_split.0 ~ "H" ~ duration_split.1 ~ "M"
                      ~ duration_split.2 ~ "S" %}
        {% else %}
          throw(message="duration is not in MM:SS nor HH:MM:SS format: "
                        ~ duration)
        {% endif %}
        <tr>
          <th scope="row">duration</th>
          <td {% if instrumentation %}colspan="2"{% endif %}><time
            datetime="{{ dt }}" title="{{ dt }}">
            {{- duration -}}
          </time></td>
        </tr>
      {% endif %}

      {% if page.taxonomies.genres %}
        {% set genres = page.taxonomies.genres %}
        <tr>
          <th scope="row">genres</th>
          <td {% if instrumentation %}colspan="2"{% endif %}><ul
            class="inline">
            {%- for genre in genres -%}
              <li><a href="/genres/{{ genre | slugify }}">{{ genre }}</a></li>
            {%- endfor -%}
          </ul></td>
        </tr>
      {% endif %}

      {% if page.taxonomies.minor_genres %}
        {% set minor_genres = page.taxonomies.minor_genres %}
        <tr>
          <th scope="row">minor genres</th>
          <td {% if instrumentation %}colspan="2"{% endif %}><ul
            class="inline">
            {%- for genre in minor_genres -%}
              <li><a href="/genres/{{ genre | slugify }}">{{ genre }}</a></li>
            {%- endfor -%}
          </ul></td>
        </tr>
      {% endif %}

      {% if page.taxonomies.labels %}
        {% set labels = page.taxonomies.labels %}
        <tr>
          <th scope="row">label(s)</th>
          <td {% if instrumentation %}colspan="2"{% endif %}><ul
            class="inline">
            {%- for label in labels -%}
              <li><a href="/labels/{{ label | slugify }}">{{ label }}</a></li>
            {%- endfor -%}
          </ul></td>
        </tr>
      {% endif %}

      {% if instrumentation %}
        <tr>
          <th rowspan="{{ instrumentation | length }}">instrumentation</th>
          {%- for instrument in instrumentation -%}
            {%- set inst_split = instrument | split(pat=": ") -%}
            <th scope="row">
              <a href="/instruments/{{ inst_split.0 | slugify }}">
                {{- inst_split.0 -}}
              </a>
            </th>
            <td>
              {%- if inst_split.1 -%}
                {%- if inst_split.1 is containing(", ") -%}
                  <ul class="inline">
                    {%- set performers = inst_split.1 | split(pat=", ") -%}
                    {%- for performer in performers -%}
                      <li>{{ performer }}</li>
                    {%- endfor -%}
                  </ul>
                {%- else -%}
                  {{- inst_split.1 -}}
                {%- endif -%}
              {%- endif -%}
            </td>
            </tr>
            <tr>
          {% endfor %}
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
