<!DOCTYPE html>
<html dir="ltr" lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>eartifacts | 404</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />

    <link rel="stylesheet" href="{{ get_url(path="css/style.css") }}" type="text/css" />
    <link rel="stylesheet" href="{{ get_url(path="css/content.css") }}" type="text/css" />
    <link rel="icon" type="image/png" href="{{ get_url(path="css/favicon.png") }}" />
  </head>

  <body>
    {% include "top_part.html" %}

    <main id="main-content">
      <div id="main-inner">
        <div id="content-wrapper">
          <div id="content">
            <h1>HTTP 404: resource not found</h1>
            <p><a href="/">&larrhk;&nbsp;back to main page</a></p>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
